body, html {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
/* Navigation styles */
.navigation {
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
  }
  
  .dot {
    cursor: pointer;
    width: 25px; 
    height: 25px;
    line-height: 25px;
    margin: 0 20px;
    background-color: transparent;
    color: white; 
    border-radius: 50%;
    display: inline-block;
    text-align: center; 
    font-size: 18px; 
    vertical-align: middle; 
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .dot:hover, .dot.active {
    background-color:white;
    color: #399ed4; 
    text-decoration: none; 
  }
  
  .back-button-container {
    position: absolute;
    top: 20px;
    left: 40px;
  }
  .back-button {
    color: #ffffff; 
    text-decoration: none; 
    font-size: 36px; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
  }

  .back-button:hover {
    font-weight:bold;
    text-decoration: none;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    padding: 50px;
    color: rgb(255, 255, 255); 
  }
  
  .arrow.left {
    left: 0;
  }
  
  .arrow.right {
    right: 0;
  }
  
  .arrow:hover {
    font-weight: bold;
  }
  